@font-face {
    font-family: 'MinhaFonte';
    src: url('Desafio/arquivos/static/MinhaFonte.woff2') format('woff2'),
         url('Desafio/arquivos/static/MinhaFonte.woff') format('woff'),
         url('Desafio/arquivos/static/MinhaFonte.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'MinhaFonte', sans-serif;
    background-color: #092456;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #000000;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.blur-circle {
    width: 250px;
    height: 250px;
    background: #165cde; /* Cor azul */
    border-radius: 50%;
    filter: blur(80px); /* Efeito de desfoque */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o círculo */
    z-index: 0;
}

.formulario, .imagem {
    width: 50%;
    padding: 20px;
    position: relative;
    z-index: 1; /* Coloca o conteúdo na frente do círculo */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

li::before {
    content: '✔';
    color: #007bff;
    font-size: 18px;
    margin-right: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #1a1f3f;
    color: white;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}
